.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.mb-10 {
  margin-bottom: 10px;
}

.story-title {
  margin: 20px 0;
}

.text-card-footer {
  font-size: 70%;
  font-weight: 400;
}

.cover {
  height: 65vh;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.story-link {
  color: black;
}

.story-link:hover {
  text-decoration: none;
  color: black;
}

.story-link:hover .card {
  border: 1px solid blue;
}

.story-content {
  margin-bottom: 50px;
}
